/ - content_for :adminTopInfo do
/   = render "/admin/admin_info", :total_api_calls => @total_api_calls,  :total_report_count => @total_report_count, :alert_count => @alert_count
    
    
/ - content_for :adminToolbar do


.padded-container
  %h1.span1 Rule Wizard
  %a.btn-new-rule.span2(href=new_rule_path) + New Rule
  .table_container
    
    %table.table.table-striped
      %tr
        %td
          DESCRIPTION
        %td
          DATE CREATED
        %td.delete-hdr
          DELETE
      - @rules.each do |rule|
        %tr
          %td
            = link_to rule[:description], rule_path(rule[:_id])
          %td
            = rule[:created_at].to_time.strftime("%m/%d/%Y")
          / %td
          /   - if rule[:active]
          /     = button_to 'Deactivate', deactivate_rule_path(rule), :class => "btn"
          /   - else
          /     = button_to 'Reactivate', reactivate_rule_path(rule), :class => "btn"
          / %td
          / = link_to image_tag('edit_icon.png', :alt => 'Edit', :title => 'Edit'), edit_rule_path(rule)
          %td.delete
            = link_to image_tag('remove-icon.png', :alt => 'Delete', :title => 'Delete'), rule_path(rule[:_id]), :method => :delete, :data => {:confirm => 'Are you sure?'}  
  / = will_paginate @rules
  
